nav {
  width: 100%;
  box-shadow: 0px 0px 7px #a3b9d263;
  padding: 15px 0;
  font-size: 20px;
  position: fixed;
  z-index: 9999;
  top: 0;
  background: rgba(203, 224, 255, 0.11);
  backdrop-filter: blur(61px);
  position: relative;
}
.menu-icon {
  display: none;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li a {
  position: relative;
  transition: 0.3s;
}
nav ul li a:hover {
  color: var(--main-color);
}
nav ul li a:hover::before {
  transform: scaleX(1.1);
}
nav ul li a::before {
  content: "";
  position: absolute;
  top: -38px;
  right: 0;
  background-color: var(--main-color);
  width: 0;
  transition: 0.3s;
  height: 20px;
  border-radius: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-shadow: 0px 0px 3px var(--main-color);
}
nav ul li a.active::before {
  width: 100%;
}
nav ul li a.active {
  color: var(--main-color);
}
nav ul li {
  padding: 15px 20px;
}
nav ul li a {
  color: var(--black-color);
}

nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 38px;
  height: 38px;
}
nav .logo span {
  display: block;
  margin-right: 5px;
  color: var(--black-color);
}
nav .register-btn a {
  transform: scale(0.9);
}
nav .register-btn a:nth-child(2) {
  position: relative;
}
nav .register-btn a:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--main-color);
  left: -20px;
  top: 0;
}
@media (max-width: 1180px) {
  nav ul {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
.register-btn {
  display: flex;
  flex-direction: row;
}
.register-btn a {
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 12px;
  margin-left: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 100px;
  display: block;
  text-align: center;
}
.register-btn  a:nth-child(1){
  background: none;
  border: 2px solid var(--main-color);
  color: var(--black-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.register-btn  a:nth-child(1):hover{
  background-color: var(--main-color);
  color: var(--white-color);
}
@media (max-width: 500px) {
  .register-btn a {
    margin-left: 0;
  }
}
.navbar-mobile{
  display: none;
}
.navbar-mobile.active{

  padding: 20px 10px;
  position: absolute;
  top: 100%;
  background-color: var(--grey-color);
  width: 100%;
  transition:0.5s ;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  -o-transition:0.5s ;
}
.navbar-mobile.active ul {
  display: flex;
  flex-direction: column;

}
.navbar-mobile.active ul li {
  margin: 5px 0;
}
.navbar-mobile.active ul li a.active::before{
  display: none;
}
@media(max-width:1180px){
  .navbar-mobile.active{
    display: block;
  }
}